@import "style/base";

$white-color: white;
$black-color: #1a1a1a;
$background-color: #2d2d2d;
$grey-color: #f0f0f0;
$separator-color: #bebebe;
$select-color: #ffd700;
$gold-color: #ffd400;

$forest-width: 3000;

$elements: stars, forest, overlay, walker, fireworks, snow, moon, rules, face, photo, share, gallery, gallery-share, buttons, flash;

$resources-folder: 'https://cdn-s-static.arzamas.academy/x/338-new-year-jhtUdfkkqdp4is/1241';

$gold-gradient: linear-gradient(45deg, #fb0 0%, #ff0 25%, #fb0 50%, #ff0 75%, #fb0 100%);
$hover-transition-duration: 0.15s;

@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background-image: unquote($gradient);
      background-size: 1200%;
      pointer-events: none;
      animation: super-gradient 2s ease infinite;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}

body {
  margin: 0;
}

.xx-field {
  font-family: $serif;

  * {
    box-sizing: border-box;
  }

  a:hover {
    border-bottom: none;
  }
}

.xx-fancy-separator {
  display: flex;
  align-items: center;

  color: $white-color;

  &__left {
    margin-right: 15px;
  }

  &__left-center {
    margin-right: 20px;
  }

  &__right-center {
    margin-left: 20px;
  }

  &__right {
    margin-left: 15px;
  }
}


.xx-rules {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: index($elements, rules);

  width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $white-color;

  transition: .2s opacity;
}

.xx-header {
  margin-bottom: 45px;

  &__chapter {
    padding-bottom: 0;
  }

  &__title {
    font: bold 24px $sans;
    text-align: center;
  }
}

.xx-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: auto;

  &--share {
    z-index: index($elements, share);
  }

  &--gallery-share {
    z-index: index($elements, gallery-share);
    transition: .2s opacity ease-in-out, .2s transform ease-in-out;
    transform: translateY(10px);

    &.xx-visible {
      transform: translateY(0);
    }
  }

  &--gallery {
    z-index: index($elements, gallery);
    transition: .4s transform ease-in-out;
  }

  &--hidden {
    transform: translateX(150%);
  }

  &--gallery &__overlay {
    padding: 0;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 80px 70px 20px;
    min-height: 100%;
    width: 100%;
  }

  &__body {
    position: relative;
    cursor: default;

    margin: 0 auto;
  }
}

.xx-field {
  width: 100vw;
  height: 100vh;
  background-color: $white-color;

  position: relative;
  overflow: hidden;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 60vh;
    background-color: $background-color;

    z-index: 1;

    @media (max-width: 800px) {
      height: 55vh;
    }
  }
}

.xx-stars {
  position: absolute;
  z-index: index($elements, stars);
  width: 100%;
  height: 100%;

  background-image: url('#{$resources-folder}/images/stars.png');
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.xx-forest {
  position: absolute;
  z-index: index($elements, forest);
  width: 100%;
  height: 100%;

  background-image: url('#{$resources-folder}/images/forest.png');
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
}

.xx-snow {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  z-index: index($elements, snow);
}

.xx-fireworks {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  z-index: index($elements, fireworks);
}

.xx-overlay {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
  z-index: index($elements, overlay);

  background-color: rgba(0, 0, 0, 0.7);
}

.xx-moon {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: index($elements, moon);

  width: 60px;
  height: 60px;

  background-color: white;
  border-radius: 100%;
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.9);
}

.xx-walker {
  position: absolute;
  z-index: index($elements, walker);

  left: 50%;
  opacity: 0;

  background-size: contain;
  background-repeat: no-repeat;

  transition: 1s opacity;

  &--visible {
    opacity: 1;
  }

  &--animation-0 {
    background-image: url('#{$resources-folder}/images/walker-1.png');
  }

  &--animation-1 {
    background-image: url('#{$resources-folder}/images/walker-2.png');
  }

  &--animation-2 {
    background-image: url('#{$resources-folder}/images/walker-3.png');
  }

  &--animation-3 {
    background-image: url('#{$resources-folder}/images/walker-4.png');
  }

  &--animation-4 {
    background-image: url('#{$resources-folder}/images/walker-5.png');
  }
}

.xx-face {
  position: absolute;
  height: 90vh;
  width: 50vw;
  bottom: 0;
  left: 0;
  z-index: index($elements, face);

  > img {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    height: 100%;
  }

  &--animated {
    transition: 1s opacity, 3s transform;
  }

  &--position-1 {
    animation: 3s ease-in-out forwards face-walk-1;
  }

  &--position-2 {
    animation: 3s ease-in-out forwards face-walk-2;
  }

  &--position-3 {
    animation: 3s ease-in-out forwards face-walk-3;
  }

  &--position-4 {
    animation: 3s ease-in-out forwards face-walk-4;
  }
}

@keyframes face-walk-1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-8vw, 2vh); }
  100% { transform: translate(-15vw, 0); }
}

@keyframes face-walk-2 {
  0% { transform: translate(-15vw, 0); }
  50% { transform: translate(-23vw, 2vh); }
  100% { transform: translate(-30vw, 0); }
}

@keyframes face-walk-3 {
  0% { transform: translate(-30vw, 0); }
  50% { transform: translate(-38vw, 2vh); }
  100% { transform: translate(-45vw, 0); }
}

@keyframes face-walk-4 {
  0% { transform: translate(-45vw, 0); }
  50% { transform: translate(-53vw, 2vh); }
  100% { transform: translate(-60vw, 0); }
}

.xx-gallery {
  min-height: 100%;
  width: 100%;
  padding: 97px 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(26, 26, 26, 0.9);

  &--golden &__count {
    color: $gold-color;

    border-color: $gold-color;
  }

  &__count {
    flex-shrink: 0;
    padding: 0 40px 40px;
    border-bottom: 2px $white-color solid;
    margin-bottom: 50px;

    color: $white-color;
    font-family: $serif;
    font-size: 36px;
  }

  &__container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0;
    max-width: 1200px;
    margin: 0 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 12px 35px;
  }

  &__golden-share-wrapper {
    color: $gold-color;
  }

  &__golden-share {
    flex-shrink: 0;
    color: $gold-color;
    border-image: $gold-gradient;
    border-image-slice: 1;

    box-shadow: 0 0 50px 0 rgba(255, 212, 0, 0.3);
    transition: box-shadow $hover-transition-duration ease-in-out;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 50px 0 rgba(255, 212, 0, 0.7);
    }
  }

  &__clear {
    flex-shrink: 0;
    margin: 30px 0 35px;

    color: $white-color;
    font-family: $sans;
    font-size: 12px;
    text-decoration: underline;

    transition: opacity $hover-transition-duration;

    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.xx-gallery-walker {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 185px;
  transition: transform $hover-transition-duration ease-in-out;

  &--opened:hover {
    transform: translateY(-5px);
  }

  &__frame {
    position: relative;

    width: 130px;
    height: 145px;

    border: solid $white-color 4px;
    border-radius: 100%;
  }

  &__portrait {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 104px;
    height: 119px;

    border: solid $white-color 2px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::after {
      content: '?';

      color: white;
      font-size: 60px;
      font-family: $serif;
      font-weight: 800;
    }

    &--opened::after {
      content: '';
    }
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: -27px;

    width: 30px;
    height: 30px;
    border-radius: 100%;

    background-color: $white-color;

    > * {
      position: relative;
      top: 1px;
    }
  }

  &__name {
    margin-top: 20px;

    color: $white-color;
    font-family: $sans;
    font-size: 13px;
    font-weight: bold;
  }

  &--golden &__frame {
    border-color: $gold-color;
  }

  &--golden &__check {
    background-image: $gold-gradient;
  }
}

.xx-buttons {
  position: absolute;
  right: 25px;
  top: 85px;
  z-index: index($elements, buttons);
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;

  transition: .2s opacity;

  &__item {
    margin: 5px;
  }
}

.xx-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 50vw;
  height: 100%; right: 0;
  z-index: index($elements, photo);

  &--animated {
    transition: .2s opacity;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    right: 30px;
  }

  &__title {
    color: $white-color;
    font-size: 25px;
    font-family: $serif;
    text-align: center;

    &--strong {
      display: inline-block;

      margin-top: 12px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__separator {
    margin-top: 5px;
    margin-bottom: 35px;
  }

  &__button {
    font: bold 17px/30px $sans;
    padding: 0 30px;
    height: 60px;
  }
}

@keyframes super-gradient {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}

.xx-share-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: index($elements, share);

  padding: 40px;

  border-radius: 6px;
  background-color: $white-color;

  transition: .2s opacity;
  position: relative;

  &--golden {
    background: url('#{$resources-folder}/images/noise.png') 250px 250px repeat, $gold-gradient;
  }

  &--super {
    border: 5px solid transparent;
    background: linear-gradient($white-color, $white-color), linear-gradient(to top right, #f00, #00f, #0ff, #0f0, #ff0, #f00);
    background-size: 1200%;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    animation: super-gradient 1s ease infinite;
  }

  &__title-wrapper {
    position: relative;
    color: #e5e5e5;

    padding-bottom: 22px;
    margin-bottom: 30px;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      height: 1px;
      width: 45px;

      background-color: $black-color;
    }
  }

  &--golden &__title-wrapper {
    color: $black-color;
  }

  &--super &__title {
    @include gradient-text('linear-gradient(to right, #f00, #00f, #0ff, #0f0, #ff0, #f00)', 'light');
  }

  &__title {
    color: $black-color;
    font-family: $serif;
    font-size: 30px;
    font-weight: 800;
  }

  &__image {
    width: 590px;
    height: 310px;

    background-color: $black-color;
  }

  .xx-share {
    color: #bebebe;
  }

  &--golden .xx-share {
    color: $black-color;
  }

  &--golden .social a {
    border-color: $black-color;
  }

  &__buttons {
    margin: 25px 0 30px;
  }

  &__text {
    text-align: center;
    font-family: $serif;
    font-size: 15px;
    line-height: 20px;

    margin-top: -7px;
    margin-bottom: 25px;
  }

  &__button-wrapper {
    color: #e5e5e5;
  }

  &--golden &__button-wrapper {
    color: $black-color;
  }
}

.xx-visible {
  opacity: 1;
  pointer-events: auto;
}

.xx-hidden {
  opacity: 0;
  pointer-events: none;
}

.xx-btn-icon {
  position: relative;
  height: 60px;
  width: 60px;

  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  color: $white-color;
  cursor: pointer;
  transition: border-color $hover-transition-duration;

  &:hover {
    border: 3px solid $white-color;
  }

  &--pulsing {
    animation: white-icon-pulse 0.3s ease-in-out 4 alternate;
  }

  &--golden {
    color: $gold-color;
    border-color: rgba(255, 212, 0, 0.7);
    box-shadow: 0 0 20px 5px rgba(255, 212, 0, 0.3);

    &:hover {
      border-color: $gold-color;
    }
  }

  &--golden.xx-btn-icon--pulsing {
    animation: gold-icon-pulse 0.25s ease-in-out 4 alternate;
  }

  &__counter {
    position: absolute;
    right: -9px;
    bottom: -9px;

    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;

    border-radius: 50%;
    background-color: #f30;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: $sans;
    text-align: center;
  }
}

@keyframes white-icon-pulse {
  100% {
    border-color: $white-color;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
  }
}

@keyframes gold-icon-pulse {
  100% {
    border-color: rgba(255, 212, 0, 1);
    box-shadow: 0 0 100px 5px rgba(255, 212, 0, 0.7);
  }
}

.xx-flash {
  position: fixed;
  left: 0; top: 0;
  right: 0; bottom: 0;
  z-index: index($elements, flash);
  pointer-events: none;
  background-color: $white-color;

  transition: .1s opacity;

  &--fade-out {
    transition: .5s opacity;
  }
}
